<h1> Edit Book </h1>

<!-- <%= "render 'form'" %> -->

<%= simple_form_for @book, :html => { :multipart => true } do |f| %>
	<%= f.select :category_id, @categories %>
	<%= f.input :title, label: "Book title" %>
	<%= f.input :description, label: "Description modif" %>
	<%= f.input :author %>
	<%= f.button :submit %>
 
<% end %> 